body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.textStyle {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.4px;
}

.subText {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.35px;
  color: #1ba672;
}

.bold {
  font-weight: 600;
  color: #000;
}

.dot-separator {
  font-weight: 200;
  color: rgba(2, 6, 12, 0.45);
  margin: 0 8px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;

  border: solid 1px;
  .logo {
    width: 150px;
  }

  .nav-items {
    > ul {
      padding: 0 20px;
      > li {
        padding: 10px;
        margin: 10px;
        list-style-type: none;
        cursor: pointer;
        font-size: 24px;
      }

      .login-btn {
        border: none;
        border-radius: 4px;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}

.body {
  border: solid 1px blue;
  padding: 10px;

  .filter {
    border: solid 1px red;
    margin-bottom: 10px;
    .filter-btn {
      margin: 10px;
      cursor: pointer;
    }
  }

  .restro-container {
    border: solid 1px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    .restroCard {
      border: solid 1px #02060c14;
      background-color: white;
      border-radius: 16px;
      min-width: 328px;
      width: 328px;
      height: 378px;
      filter: drop-shadow(rgba(27, 30, 36, 0.08) 0px 0px 7.905px);
      cursor: pointer;

      .imageContainer {
        height: 190px;
        position: relative;
        .restroLogo {
          width: 100%;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
        }
        .name-rating-container {
          justify-content: space-between;
          font-size: 20px;
          font-weight: 800;
          color: #ffffff;
          background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
          position: absolute;
          bottom: 0;
          box-sizing: border-box;
          height: 50px;
          width: 100%;
          padding: 0 10px;
        }
        .restroRating {
          font-size: 13px;
        }
      }

      .restroDetailsContainer {
        height: 186px;
        padding: 8px 12px 12px;
        box-sizing: border-box;

        .restro-details-wrapper {
          display: flex;
          justify-content: space-between;
          font-weight: 200;
          font-size: 13px;
          letter-spacing: -0.33px;
          color: rgba(2, 6, 12, 0.6);
          margin-top: 4px;

          .restroCuisine {
            overflow: hidden;
            overflow-wrap: break-word;
            word-break: break-all;
          }
        }
      }
    }
  }
}

.shimmer-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  .shimmer-card {
    border: solid 1px #02060c14;
    background-color: #e3e3e3;
    border-radius: 16px;
    min-width: 328px;
    width: 328px;
    height: 378px;
    filter: drop-shadow(rgba(27, 30, 36, 0.08) 0px 0px 7.905px);
    cursor: pointer;
  }
}

.menu {
  max-width: 800px;
  min-height: 800px;
  margin: 20px auto 0;
  .restaurantImage {
    overflow: hidden;
    height: 320px;
    border-radius: 20px;
  }
  .restaurantDetailsWrapper {
    margin: 20px 16px 0;
    .rating_cost_wrapper {
      display: inline-flex;
      .rating {
        .rating-badge {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: linear-gradient(180deg, #21973b 0%, #128540 100%);
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          width: 20px;
          height: 20px;
          margin-right: 4px;
        }
      }
    }
    .cuisines_wrapper {
      margin: 8px 16px;
      .cuisines {
        font-weight: 600;
        color: #ff5200;
      }
    }
    .status_time_wrapper {
      display: block;
      margin: 0px 16px;
      padding-top: 2px;
      button {
        padding: 0px;
        background: transparent;
        border-style: none;
        cursor: pointer;
      }
    }
    .divider {
      width: 328px;
      height: 1px;
      margin: 16px 20px 0px;
      background: rgba(2, 6, 12, 0.1);
    }
    .location_wrapper {
      margin: 0px 20px;
      padding: 16px 0px;
      .graphLine {
        flex-direction: column;
        .startDot,
        .endDot {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: rgb(196, 196, 196);
        }
        .verticalLine {
          width: 1px;
          height: 23px;
          background: rgb(196, 196, 196);
        }
      }
      .location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 12px;
        padding-right: 16px;
        width: 100%;
        .outlet_wrapper {
          margin-bottom: 2px;

          .title {
            color: rgba(2, 6, 12, 0.92);
          }
          .outlet {
            text-align: center;
            max-width: 70%;
            margin-left: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 200;
            color: rgba(2, 6, 12, 0.6);
          }
        }
        .deliveryTime {
          display: flex;
          margin-top: 8px;
          white-space: nowrap;
          color: rgba(2, 6, 12, 0.92);
        }
      }
    }
  }
}

.footer {
  border: 1px solid;
  width: 100%;
  height: 30px;
  background-color: #f1f1f1;
  margin-top: 500px;
}
